use guix --ad-hoc nss-certs gawk git \
    ruby@2.7 libyaml

# PATHS
export GEM_HOME=$PWD/.gems
export GEM_PATH=$GEM_HOME:$GEM_PATH
export PATH=$GEM_HOME/bin:$PATH

# GUIX ENVIROMENT HACKISH
export GUIX_ENVIRONMENT="$(command -v ruby | awk -F '/bin/ruby' '{print $1}')"

# .so FILES
export LD_LIBRARY_PATH="$GUIX_ENVIRONMENT/lib"

# RUBYGEMS AUTH
export SSL_CERT_FILE="$GUIX_ENVIRONMENT/etc/ssl/certs/ca-certificates.crt"
